# Data Modelling with PostgreSQL

## Import libs

In [1]:
import os
import psycopg2

## Create connection to db

In [2]:
HOST = "127.0.0.1"
USER = "postgres"
PASSWORD = "naufalaldy23"

In [31]:
try:
    conn = psycopg2.connect("host={} user={} password={}".format(HOST, USER, PASSWORD))
except psycopg2.Error as e:
    print("Error: Could'nt make connection to postgres db")
    print(e)

## Use the connection to get a cursor

In [24]:
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Couldn't get cursor to the db")
    print(e)

In [ ]:
# Set automatic commit to be true so that eact action is committed without having to call conn.commit() after each commit
conn.set_session(autocommit=True)

## Create DB

In [32]:
try:
    cur.execute("CREATE DATABASE db_modelling")
except psycopg2.Error as e:
    print(e)

database "db_modelling" already exists

In [4]:
DBNAME = "db_modelling"

## Connect to the DB that just been created

In [5]:
try:
    conn = psycopg2.connect("host={} dbname={} user={} password={}".format(HOST, DBNAME, USER, PASSWORD))
except psycopg2.Error as e:
    print("Error: Couldn't connect to db")
    print(e)

In [6]:
# Make cursor again
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Couldn't connect to db")
    print(e)

In [7]:
# Set automatic commit to be true so that eact action is committed without having to call conn.commit() after each commit
conn.set_session(autocommit=True)

## Create table for students
student_id

name

age

gender

subject

marks

In [8]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS students (student_id int, name varchar, \
    age int, gender varchar, subject varchar, marks int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

## Insert the following two rows
First row: 1, "Naufal", 99, "Male", "Python", 99

Second row: 2, "Aldy", 99, "Male", "Python", 98

In [17]:
try:
    cur.execute("INSERT INTO students (student_id, name, age, gender, subject, marks) \
                VALUES (%s, %s, %s, %s, %s, %s)", \
               (1, "Naufal", 99, "Male", "Python", 99))
except psycopg2.Error as e:
    print("Error: Inserting rows")
    print(e)

In [18]:
try:
    cur.execute("INSERT INTO students (student_id, name, age, gender, subject, marks) \
                VALUES (%s, %s, %s, %s, %s, %s)", \
               (1, "Aldy", 99, "Male", "Python", 98))
except psycopg2.Error as e:
    print("Error: Inserting rows")
    print(e)

## Validate inseerted data

In [19]:
try:
    cur.execute("SELECT * FROM students")
except psycopg2.Error as e:
    print("Error: Get data")
    print(e)

In [20]:
# Get the data
row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Naufal', 99, 'Male', 'Python', 99)
(1, 'Aldy', 99, 'Male', 'Python', 98)

## Close cursor and connection

In [21]:
cur.close()
conn.close()